<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json"
            publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
	<connectionStrings>
		<add name="db" connectionString="data source=localhost;database=test;uid=sa;pwd=duolian;" />
    <add name="connStr" connectionString="data source=192.168.0.252;database=UFDATA_005_2015;uid=sa;pwd=duoliansa;Max Pool Size = 512" />
    <!--<add name="connStr" connectionString="data source=192.168.0.252;database=UFDATA_006_2015;uid=sa;pwd=duoliansa;Max Pool Size = 512" />-->
    <!--<add name="connStr" connectionString="data source=192.168.0.242;database=UFDATA_777_2015;uid=sa;pwd=Dl123456;Max Pool Size = 512" />-->
    <!--<add name="connStr" connectionString="data source=192.168.0.242;database=UFDATA_003_2017;uid=sa;pwd=Dl123456;Max Pool Size = 512" />-->
    <!--<add name="connStr" connectionString="data source=192.168.0.242;database=UFDATA_509_2015;uid=sa;pwd=Dl123456;Max Pool Size = 512" />-->
    <!--<add name="connStr" connectionString="data source=192.168.0.240;database=UFDATA_509_2015;uid=sa;pwd=Dlsql@admin123;Max Pool Size = 512" />-->
    <!--<add name="connStr" connectionString="data source=192.168.0.240;database=UFDATA_126_2015;uid=sa;pwd=Dlsql@admin123;Max Pool Size = 512" />-->

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:51234" timeout="1440" cookieless="false" />
  </system.web>
  
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="login_V2.html" />
                <add value="login_V2.aspx" />
                <add value="index.aspx" />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="102400000" maxQueryString="2048" />
            </requestFiltering>
        </security>
      <!--<staticContent>
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
      </staticContent>-->
    </system.webServer>
    <system.serviceModel>
     
        <bindings>
            <basicHttpBinding>
                <binding name="SendSMS2CustomerSoap" />
                <binding name="SendSMS2CustomerSoap1" />
                <binding name="SendSMS2CustomerSoap2" />
                <binding name="WeiXinSoap" />
                <binding name="WeiXinSoap1" />
                <binding name="WeiXinSoap2" />
                <binding name="SendSMS2CustomerSoap3" />
            </basicHttpBinding>
            <customBinding>
                <binding name="SendSMS2CustomerSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="SendSMS2CustomerSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="SendSMS2CustomerSoap122">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="WeiXinSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="WeiXinSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="WeiXinSoap122">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="SendSMS2CustomerSoap123">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.249:9001/other/SendSMS2Customer.asmx"
                binding="basicHttpBinding" bindingConfiguration="SendSMS2CustomerSoap1"
                contract="SMSSend9001.SendSMS2CustomerSoap" name="SendSMS2CustomerSoap1" />
            <endpoint address="http://192.168.2.248:8222/other/SendSMS2Customer.asmx"
                binding="basicHttpBinding" bindingConfiguration="SendSMS2CustomerSoap2"
                contract="SMSSend8222.SendSMS2CustomerSoap" name="SendSMS2CustomerSoap2" />
            <endpoint address="http://192.168.2.248:8222/dlop/wx/WeiXin.asmx"
                binding="basicHttpBinding" bindingConfiguration="WeiXinSoap"
                contract="WeiXin8222.WeiXinSoap" name="WeiXinSoap" />
            <endpoint address="http://192.168.0.249:9002/other/SendSMS2Customer.asmx"
                binding="basicHttpBinding" bindingConfiguration="SendSMS2CustomerSoap3"
                contract="SMS9002.SendSMS2CustomerSoap" name="SendSMS2CustomerSoap3" />
            <endpoint address="http://192.168.0.249:9003/other/SendSMS2Customer.asmx"
                binding="basicHttpBinding" bindingConfiguration="SendSMS2CustomerSoap"
                contract="SMSSend9003.SendSMS2CustomerSoap" name="SendSMS2CustomerSoap" />
            <endpoint address="http://192.168.0.249:9003/dlop/wx/WeiXin.asmx"
                binding="basicHttpBinding" bindingConfiguration="WeiXinSoap1"
                contract="WeiXin9003.WeiXinSoap" name="WeiXinSoap1" />
       
         
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="logPath" value="d:\errLogs" />
    <add key="isCode" value="0" />
     <!--<add key="Manager" value="13438904933|13558862868|18980665367|13980797630" />-->
    <add key="Manager" value="13438904933|13518148295|13558862868|13880807776"
         />
    <add key="is_wxlogin" value="0" />
    <add key="ReciveArreaMsg" value="13980797630" />
    <add key="WeiXinAPPID" value="1000003" />
    <add key="MobileAPPID" value="1000003" />
    <add key="isShowConn" value="1"/>
    <!--如果开票单位在下列值中，则不做判断，所有账户都可以查询全部订单以及订单执行情况-->
    <add key="isSearchAll" value="010111"/>

    <!--信用判断标准分-->
    <add key="BehaviorScore" value="70"/>
  </appSettings>
</configuration>
