<?xml version="1.0" encoding="gb2312"?>
<!--<?xml version="1.0" encoding="utf-8"?>-->


<!--
  ?й???????? ASP.NET ??ó?????????????????
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>

    <!--<add name="connStr" connectionString="Data Source=192.168.0.252;Initial Catalog=UFDATA_005_2015;Persist Security Info=True;User ID=sa;Password=duoliansa;Max Pool Size = 2048" providerName="System.Data.SqlClient"/>-->
    <add name="connStr" connectionString="Data Source=192.168.0.242;Initial Catalog=UFDATA_777_2015;Persist Security Info=True;User ID=sa;Password=Dl123456;Max Pool Size = 2048" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.web>
      <globalization requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-CN" fileEncoding="gb2312" />
      <webServices>
        <protocols>
          <add name="HttpPost" />
          <add name="HttpGet" />
        </protocols>
      </webServices>
      <customErrors mode="Off" defaultRedirect="Error.html"/>
      <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:51234" timeout="1440" cookieless="false"/>
      <pages enableViewState="false"/>
      <compilation targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="CorpToken" value="Fa0ihoLgQHr7ORqxiu9KJAXgIy"/>
    <add key="CorpId" value="wx85ee38394e42f0b7"/>
    <add key="EncodingAESKey" value="Pq3yytX8bsxrJVmB85dq3qkkFOa1TtM5mpYCDWCTs08"/>

    
      <!--???????????-->
      <add key="PrecCusCode" value="95"/>
      <!--??????????????-->
      <add key="yzm" value="nocheck"/>
      <!--?????????????????-->
      <add key="tz" value=""/>
      <!--??????????????,????-->
      <add key="datExpTime" value="240" />

      <!--?????????????U8API???????-->
      <!--???????????-->
      <add key="sUserID" value="1226" />
      <!--????????????-->
      <add key="sUserName" value="??????" />
      <!--?????????-->
      <add key="sPassword" value="321"/>
      <!--????????????-->
      <add key="sServer" value="192.168.0.242"/>
      <!--???????-->
      <add key="sAccID" value="test@777"/>
      <!--???????-->
      <add key="sSubId" value="AS"/>
    
  </appSettings>
</configuration>
