<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="connStr" connectionString="Data Source=192.168.0.252;Initial Catalog=UFDATA_005_2015;Persist Security Info=True;User ID=sa;Password=duoliansa;Max Pool Size = 512" providerName="System.Data.SqlClient"/>
    <add name="UFDATA_001_2015ConnectionString" connectionString="Data Source=192.168.0.252;Initial Catalog=UFDATA_005_2015;Persist Security Info=True;User ID=sa;Password=duoliansa;Max Pool Size = 512" providerName="System.Data.SqlClient"/>
    <!--<add name="connStr" connectionString="Data Source=192.168.0.240;Initial Catalog=UFDATA_126_2015;Persist Security Info=True;User ID=sa;Password=Dlsql@admin123;Max Pool Size = 512" providerName="System.Data.SqlClient"/>-->
    <!--<add name="UFDATA_001_2015ConnectionString" connectionString="Data Source=192.168.0.240;Initial Catalog=UFDATA_126_2015;Persist Security Info=True;User ID=sa;Password=Dlsql@admin123;Max Pool Size = 512" providerName="System.Data.SqlClient"/>-->
    <add name="db" connectionString="data source=192.168.0.252;Initial Catalog=DL_BigData;User ID=sa;Password=duoliansa;"/>
  </connectionStrings>
  <system.web>
    <pages validateRequest="false" enableViewState="false"/>
    <httpRuntime requestValidationMode="2.0"/>
    <!--<globalization requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-CN" fileEncoding="gb2312"/>-->
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <customErrors mode="Off" defaultRedirect="Error.html"/>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:51234" timeout="1440" cookieless="false"/>
    <!--<pages enableViewState="false"/>-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="DevExpress.Web.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Data.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Printing.v14.2.Core, Version=14.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="DevExpress.RichEdit.v14.2.Core, Version=14.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="DevExpress.Web.ASPxThemes.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxTreeList.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="DevExpress.Xpo.v14.2.Web, Version=14.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Xpo.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxRichEdit.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Office.v14.2.Core, Version=14.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Dashboard.v14.2.Web, Version=14.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Dashboard.v14.2.Core, Version=14.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.DataAccess.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Charts.v14.2.Core, Version=14.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraCharts.v14.2.Web, Version=14.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraCharts.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Utils.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="Interop.U8Login, Version=1.14.0.0, Culture=neutral, PublicKeyToken=79A4E7AD54EEABCA"/>
        <!--<add assembly="ADODB, Version=2.6.0.0, Culture=neutral, PublicKeyToken=79a4e7ad54eeabca"/>-->
        <add assembly="ADODB, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false"/>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies=""/>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
    <settings doctypeMode="Xhtml" rightToLeft="false" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SendSMS2CustomerSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647"/>
        <binding name="GetWeiXinAccessTokenSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647"/>
        <binding name="SendSMS2CustomerSoap1" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647"/>
        <binding name="U8APISoap" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647"/>
        <binding name="GetWeiXinAccessTokenSoap1"/>
        <binding name="WeiXinSoap"/>
        <binding name="CheckSoap"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="SendSMS2CustomerSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="GetWeiXinAccessTokenSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="SendSMS2CustomerSoap121">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="U8APISoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="GetWeiXinAccessTokenSoap121">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="WeiXinSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="CheckSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.249:9001/other/SendSMS2Customer.asmx" binding="basicHttpBinding" bindingConfiguration="SendSMS2CustomerSoap" contract="SendSMS2Customer9001.SendSMS2CustomerSoap" name="SendSMS2CustomerSoap"/>
      <endpoint address="http://192.168.0.249:9001/dlop/wx/GetWeiXinAccessToken.asmx" binding="basicHttpBinding" bindingConfiguration="GetWeiXinAccessTokenSoap" contract="GetWeiXinAccessToken9001.GetWeiXinAccessTokenSoap" name="GetWeiXinAccessTokenSoap"/>
      <endpoint address="http://192.168.0.249:9003/other/SendSMS2Customer.asmx" binding="basicHttpBinding" bindingConfiguration="SendSMS2CustomerSoap1" contract="SendSMS2Customer9003.SendSMS2CustomerSoap" name="SendSMS2CustomerSoap1"/>
      <endpoint address="http://192.168.0.249:9003/dlop/wx/GetWeiXinAccessToken.asmx" binding="basicHttpBinding" bindingConfiguration="GetWeiXinAccessTokenSoap1" contract="GetWeiXinAccessToken9003.GetWeiXinAccessTokenSoap" name="GetWeiXinAccessTokenSoap1"/>
      <endpoint address="http://192.168.0.249:9003/dlop/wx/weixin.asmx" binding="basicHttpBinding" bindingConfiguration="WeiXinSoap" contract="QYH9003.WeiXinSoap" name="WeiXinSoap"/>
      <endpoint address="http://192.168.0.249:9003/u8api/U8API.asmx" binding="basicHttpBinding" bindingConfiguration="U8APISoap" contract="U8API9003.U8APISoap" name="U8APISoap"/>
      <endpoint address="http://192.168.0.249:9003/u8api/check.asmx" binding="basicHttpBinding" bindingConfiguration="CheckSoap" contract="U8API9003_Check.CheckSoap" name="CheckSoap"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="CorpToken" value="Fa0ihoLgQHr7ORqxiu9KJAXgIy"/>
    <add key="CorpId" value="wx85ee38394e42f0b7"/>
    <add key="EncodingAESKey" value="Pq3yytX8bsxrJVmB85dq3qkkFOa1TtM5mpYCDWCTs08"/>
    <!--默认登录人员账号-->
    <add key="PrecCusCode" value="95"/>
    <!--登录是否需要验证码-->
    <add key="yzm" value="nocheck"/>
    <!--提示验证码是否需要验证-->
    <add key="tz" value=""/>
    <!--限时驳回时间设置,分钟-->
    <add key="datExpTime" value="240"/>
    <!--U8API配置-->
    <!--<add key="sUserID" value="99009"/>
    <add key="sUserName" value="dl_admin"/>
    <add key="sPassword" value="admin"/>
    <add key="sServer" value="192.168.0.250"/>
    <add key="sAccID" value="005"/>
    <add key="sSubId" value="AS"/>-->
    <!--U8API配置(测试)-->
    <add key="sUserID" value="1226"/>
    <add key="sUserName" value="王俊杰"/>
    <add key="sPassword" value="111"/>
    <add key="sServer" value="192.168.0.242"/>
    <add key="sAccID" value="test@126"/>
    <add key="sSubId" value="AS"/>
    <!--订单开放时间提示-->
    <add key="datOrderTime" value="非常抱歉，订单开放时间为 8:00 - 21:00 ！"/>
  </appSettings>
</configuration>