<?xml version="1.0" encoding="gb2312" ?>
<!--<?xml version="1.0" encoding="utf-8"?>-->


<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>

    <!--<add name="connStr" connectionString="Data Source=192.168.0.252;Initial Catalog=UFDATA_005_2015;Persist Security Info=True;User ID=sa;Password=duoliansa;Max Pool Size = 2048" providerName="System.Data.SqlClient"/>-->
    <add name="connStr" connectionString="Data Source=192.168.0.242;Initial Catalog=UFDATA_777_2015;Persist Security Info=True;User ID=sa;Password=Dl123456;Max Pool Size = 2048" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
      <globalization requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-CN" fileEncoding="gb2312" />
      <webServices>
        <protocols>
          <add name= "HttpPost" />
          <add name= "HttpGet" />
        </protocols>
      </webServices>
      <customErrors mode="Off" defaultRedirect="Error.html"/>
      <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:51234" timeout="1440" cookieless="false"/>
      <pages enableViewState="false" validateRequest="false" />
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="CorpToken" value="Fa0ihoLgQHr7ORqxiu9KJAXgIy"/>
    <add key="CorpId" value="wx85ee38394e42f0b7"/>
    <add key="EncodingAESKey" value="Pq3yytX8bsxrJVmB85dq3qkkFOa1TtM5mpYCDWCTs08"/>

    
      <!--默认登录人员账号-->
      <add key="PrecCusCode" value="95"/>
      <!--登录是否需要验证码-->
      <add key="yzm" value="nocheck"/>
      <!--提示验证码是否需要验证-->
      <add key="tz" value=""/>
      <!--限时驳回时间设置,分钟-->
      <add key="datExpTime" value="240" />

      <!--请手动配置用友U8API连接参数-->
      <!--默认登录人员账号-->
      <add key="sUserID" value="1226" />
      <!--默认登录人员名称-->
      <add key="sUserName" value="王俊杰" />
      <!--默认登录密码-->
      <add key="sPassword" value="321"/>
      <!--用友服务器地址-->
      <add key="sServer" value="192.168.0.242"/>
      <!--默认账套-->
      <add key="sAccID" value="test@777"/>
      <!--默认账套-->
      <add key="sSubId" value="AS"/>
    
    <add key="1000003" value="bfwvDp5aqRSRQKC62ao7PtJlthLs5BGhxXQOKMUczgs"/>
    <add key="1000002" value="DbPAA5bxlmrBmiy0m6DSSPdrjfDzAf_4awoMzCCDehI"/>
    <add key="1000004" value="smzdVX11SuS-Gzz6mPQCPVCd062IBcQGBc6lnEfEp6Q"/>
    <add key="20" value="yG5ZAHj1d7-OAJ3wsG98nkp0Vj0XxUEF6tmIrueZG3E"/>
    <add key="22" value="AbpuoQY-ump5PfzsVUMWmrytgZlC7RVNIwaURIt3Q9Q"/>

  </appSettings>
</configuration>
